.out-input{
	height: 260px;
    width: 600px;
    margin: auto;
    border: 1px solid #DDDDDD;
    text-align: center;
    border-radius: 6px;
    padding: 20px;
}
.input-file{
	height: 220px;
    border: 1px dashed #aaa;
    line-height: 220px;
    text-align: center;
    border-radius: 6px;
}
.show{
    width: 160px;
    height: calc(100% - 20px);
    float: left;
    border: 1px solid rgba(0,0,0,.2);
    box-shadow: rgba(0,0,0,.2) 0 0 10px;
    margin: 10px;
    padding: 5px;
}
.show-img{
	height: 110px;
}
.show-img img{
	width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}
.show-info{
	height: 70px;
	font-size: 11px;
	color: #777;
	margin-top: 5px;
}
.show-info button{
	background-color: transparent;
	border: 1px solid;
	border-radius: 10px;
	width: 20px;
	height: 20px;
	padding: 0px;
	position: relative;
	left: 60px;
	outline: none;
}
.show-info p{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.button-remove{
    background-color: transparent;
    border: 0px;
    position: relative;
    top: -240px;
    left: 288px;
    opacity: .4;
    outline: none;
}